<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Counter</title>
</head>

<body>
    <div class="m-auto p-3 d-flex flex-column gap-3 ">
        <h2>Counter</h2>
        <p>{{count}}
            {% if count > 1 %} times
            {% else %} time
            {% endif %}
        </p>
        <a class="btn btn-primary " href="/increment_by_two">+2</a>
        <a class="btn btn-danger " href="/destroy_session">Reset</a>
        <form action="/custom_add_by_form" method="post">
            {% csrf_token %}
            <input class="form-control" type="number" name="increment">
        </form>
    </div>

</body>

</html>